* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box
}




@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Thin.woff2') format('woff2'),
    url('fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-ExtraLightItalic.woff2') format('woff2'),
    url('fonts/Gotham-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-XLight.woff2') format('woff2'),
    url('fonts/Gotham-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Book.woff2') format('woff2'),
    url('fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Medium.woff2') format('woff2'),
    url('fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Bold.woff2') format('woff2'),
    url('fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('fonts/Gotham-Ultra.woff2') format('woff2'),
    url('fonts/Gotham-Ultra.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Black.woff2') format('woff2'),
    url('fonts/Gotham-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



body {
	font-family: 'Arial';
	font-size: 13px;
	color: #333;
	margin: 0;
  overflow-x: hidden;
  background-color: #f6f7fb;
}

p, h1, h2, h3, h4, h5, h6, ul, li, a {
	margin: 0;
	padding: 0;
	line-height: 1
}

a {
	text-decoration: none;
	outline: none;
	color: #f58020
}

a:hover {
	color: #333;
	text-decoration: none
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
	border: none
}

iframe {
	max-width: 100%;
	border: none;
	width: 100%;
	height: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active{
    background:none;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
    outline:none;
}
input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active,
select:hover,
select:focus,
select:active{
    background:none;
    /*-webkit-box-shadow: 0 0 0px 1000px #ffffff inset;*/
    transition: background-color 5000s ease-in-out 0s;
    outline:none;
}
button ,a , a path ,button path{-webkit-transition:all .25s linear;-moz-transition:all .25s linear;-ms-transition:all .25s linear;-o-transition:all .25s linear;transition:all .25s linear;}
a:hover {text-decoration: none;}

/*button , a {
    cursor: pointer;
}*/
.m0{ margin: 0 !important; }
.mr-30{ margin-right:30px !important;}
.mr-20{ margin-right:20px !important;}
.mr-10{ margin-right:10px !important;}
.mr-5{ margin-right:5px !important;}
.ml-30{ margin-left:30px !important;}
.ml-20{ margin-left:20px !important;}
.ml-10{ margin-left:10px !important;}
.ml-5 { margin-left:5px !important;}
.mb-40{ margin-bottom:30px !important;}
.mb-30{ margin-bottom:30px !important;}
.mb-20{ margin-bottom:20px !important;}
.mb-10{ margin-bottom:10px !important;}
.mb-5 { margin-bottom:5px !important;}
.mt-30{ margin-top:30px !important;}
.mt-20{ margin-top:20px !important;}
.mt-10{ margin-top:10px !important;}
.mt-5 { margin-top:5px !important;}

.p0   { padding: 0 !important;}
.p10  { padding: 10px !important;}
.p20  { padding: 20px !important;}
.p30  { padding: 30px !important;}
.p40  { padding: 40px !important;}
.p50  { padding: 50px !important;}
.pr-30{ padding-right:30px !important;}
.pr-20{ padding-right:20px !important;}
.pr-10{ padding-right:10px !important;}
.pr-5 { padding-right:5px !important; }
.pl-30{ padding-left:30px !important;}
.pl-20{ padding-left:20px !important;}
.pl-10{ padding-left:10px !important;}
.pl-5 { padding-left:5px !important;}
.pb-30{ padding-bottom:30px !important ;}
.pb-20{ padding-bottom:20px !important;}
.pb-10{ padding-bottom:10px !important;}
.pb-5 { padding-bottom:5px !important;}
.pt-30{ padding-top:30px !important;}
.pt-20{ padding-top:20px !important;}
.pt-10{ padding-top:10px !important;}
.pt-5 { padding-top:5px !important;}



/**/

::-webkit-scrollbar { width: 6px }
::-webkit-scrollbar-track { border-radius: 26px; background-color: #fff }
::-webkit-scrollbar-thumb { background: rgb(60 56 80 / 20%); border-radius: 26px }

li { list-style: none; }
.mn_inr_header {
    position: relative;
    z-index: 2;
    background-color: #23282C;

}

.mn_inr_header_left {
    max-width: 150px;
}


.metting_name_content {
    color: #fff;
    background: #363d42;
    padding: 7px 20px;
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 600px);
}

.mn_inr_header_right ul {
	display: flex;justify-content: flex-end;
}

.mn_inr_header_right>ul>li {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 2px solid #fff;
    margin-left: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.help_name:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #00c7cc transparent;
    content: "";
    bottom: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease 0.7s 0s;
}


.help_name {
    position: absolute;
    top: 100%;
    color: #fff;
    background: #00c7cc;
    padding: 10px 10px;
    left: 50%;
    transform: translateX(-50%)scaleY(0);
    white-space: nowrap;
    margin: 10px 0 0;
    opacity: 0;
    transform-origin: top;
    transition: all ease 0.7s 0s;
    font-weight: 600;
}
.mn_inr_header_right>ul>li:hover .help_name, .call_inr_otr>ul>li:hover .help_name {
    opacity: 1;
    transform: translateX(-50%)scaleY(1);
}

.call_inr_otr {
    background: #141519;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.call_inr_otr, .mn_inr_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.count-badge {
    font-size: 12px;
    margin-left: -4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    padding: 0;
    position: absolute;
    top: -4px;
    right: -4px;
    float: none;
    color: #fff;
    background-color: #00c7cc;
}



/* Bottom Section */

.call_inr_otr .help_name {
    top: unset;
    bottom: calc(100% + 10px);
    margin: 0 0 0;
}

.call_inr_otr .help_name:after {
    bottom: unset;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #00c7cc transparent transparent transparent;
}

.videos_off {
	display: none;
}

.call_inr_otr .mn_inr_header_right>ul>li {
    border: 0;
    width: 50px;
    height: 50px;
}

.ToggleIconBoxActive .videos_off {
    display: block;
}

.ToggleIconBoxActive .videos_on {
	display: none;
}

.call_inr_otr  .call_inr_top ul li {
	margin: 0 15px 0 0;
	width: auto;
	height: auto;
}

.call_inr_top  ul li .icon img  {
	max-width: 30px;
}

.call_inr_otr .call_inr_top ul li:nth-child(1) .help_name {
    left: 0;
    transform: scaleY(0);
    opacity: 0;
}

.call_inr_otr .call_inr_top ul li:nth-child(1):hover .help_name {
	transform: scaleY(1);
	opacity: 1;
}

.call_inr_otr .call_inr_top ul li:nth-child(1) .help_name:after {
    transform: unset;
    left: 9px;
}
.meeting_videos_bg {
    height: calc(100vh - 130px);
    position: relative;
    overflow: auto;
    top: unset;
    left: unset;
    right: unset;
}

.user_col video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.meeting_videos_bg img { 
	object-fit: cover;
	width: 100%;
    height: 100%;
}

.local_video_mute_img{
    min-height: 80vh; 
}


.user_box_list {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 230px;
    padding: 20px;
    max-height: 500px;
    overflow: auto;
}
.user_box_inr {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.user_name {
    padding: 3px 10px;
    background: linear-gradient(to left, rgb(0 0 0 / 50%) 0%, rgb(0 0 0));
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.user_name span {
	color: #fff;
}
.user_audia_icon path {
    fill: #fff;
}

.user_mute { display: none; }
.user_audia_icon.active .user_mute { display: block; }
.user_audia_icon.active .user_unmute { display: none; }











.meeting_videos_user_box { display: flex; align-items: center; height: 100%; }
.user_meeting_inr_box_otr { display: flex; margin-top: auto; margin-bottom: auto; flex-wrap: wrap; justify-content: center; width: 100%; height: 100%; }
.meeting_inr_col_text_box { display: block; min-height: 300px; background: #000; border-radius: 5px; cursor: pointer; height: 100%; }
.user_col { width: 100%; padding: 3px; height: 100%; }
.user_col {
    height: 100% ;
    width: 100%;
    position: relative;
}
.student_page .user_meeting_inr_box_otr .user_col { width: 100% !important; height: 100% !important;}
 /* .user_meeting_inr_box_otr.user_box_list .user_col { width: 100% !important; height: auto;} */
 .user_box_list .user_col { height: auto !important;}
 .user_box_list .user_col {
    height: auto !important;
    width: 100% !important;
    margin-bottom: 20px !important;
}
/* Width Count User */
.user3 .user_col, .user4 .user_col { width: 50%; height: 50%}
.user2 .user_col { width: 50%; height: 100%;}
.user5 .user_col, .user6 .user_col, .user7 .user_col, .user9 .user_col { width: 33.33% ; height: 50%;}
.user8 .user_col   { width: 25%; height: 50%;}
.user10 .user_col, .user11 .user_col { width: 20%;}
.user12 .user_col { width: 25%; height: 50%;;}
.scroll_bar_on  .user_col { width: 20%;}
.user3, .user4, .user7, .user9 { max-width: 100%; margin: 0 auto; }
.user4 { height: 100%}
.user4 .user_col { height: 50%;}
/* Width Count User */
.popup_videos_box { max-width: 800px; margin: 0 auto; background: #fff; padding: 20px; border-radius: 6px; position: relative; }
h1 { margin: 0; padding: 0 0 20px; }
.close_icon:hover { transform: rotate(90deg); }
.close_icon { position: absolute; right: 15px; top: 15px; transition: all ease 0.3s 0s; }
.white-popup-block { animation: open 1s; }
.mfp-removing { animation: close 1s; }
@keyframes open {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes close {
	0% { opacity: 1; }
	100% { opacity: 0; }
}








.main_meeting_videos {
    height: 100%;
}
.meeting_videos_user_box { display: none; }
.meeting_videos_user_box.active .user_meeting_inr_box_otr {
	display: none;
}

.TileChange .meeting_videos_user_box {
    display: flex;
}

.TileChange .main_meeting_videos {
    display: none;
}







/*Form Css*/






/* 
/* Login Css*/
/* 
.login_section{padding:129px 0 118px;}
.login_otr{max-width:408px;margin:0 auto;}
.login_otr{max-width:408px;margin:0 auto;}
.logo{text-align:center;}
.login_box{margin:30px 0 0;padding:40px 44px 40px 43px;border-radius:10px;background-color:#ffffff;}
.bottom_sub_text{padding-top:40px;}
.title h2{font-size:24px;font-weight:bold;line-height:normal;letter-spacing:-0.2px;color:#040406;}
.login_box .title{padding-bottom:30px;}
label{font-family:Arial;font-size:14px;font-weight:normal;line-height:1.43;letter-spacing:normal;color:#040406;}
.form_box{margin:0 -12px;display:flex;justify-content:flex-start;flex-wrap:wrap;}
.input_box{padding:10px 12px;width:100%;}
.input_col_2{width:50%;}
.input_col_3{width:33.33%;}
.input_box input, .input_box select, .input_box textarea{border-radius:4px;border:solid 1px #9ea8ad;background-color:#ffffff;height:48px;font-size:14px;font-weight:normal;line-height:normal;letter-spacing:normal;color:#040406;padding:15px 20px;width:100%;} */
/* .input_box select{padding-left:16px;padding-right:16px;color:#878787;background:url(../images/select_arrow.svg)no-repeat center right 16px;appearance:none;} */
/* .input_box input::placeholder{color:#040406;}
.input_box label{padding-bottom:7px;}
.submit_btn input[type="submit"], .blue_btn, .gray_btn {
    border-radius: 4px;
    background-color: #319ed9;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 41px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;
    width: auto;
    padding: 0 40px;
    display: inline-block;
    border: 1px solid #319ed9;
    transition: all linear 0.3s;
}
.forget_psw{display:block; }
.forget_psw a{font-size:14px;font-weight:normal;line-height:1.43;letter-spacing:normal;color:#339ed9;margin-bottom:6px;display:inline-block;}
.submit_btn input[type="submit"]:hover, .blue_btn:hover, .gray_btn:hover {background:#fff;color:#319ed9;}
.bottom_sub_text{text-align:center;}
.bottom_sub_text p{font-family:Arial;font-size:16px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:normal;color:#040406;}
.bottom_sub_text p a{color:#339ed9;}
.bottom_sub_text p a:hover{color:#040406;}
.sign_up_section .login_otr {
    padding: 0 30px;
    max-width: 100%;
}
.disabled_input_box{opacity:0.49;}
.disabled_input_box input{pointer-events:none;}
.input_col_12{width:100%;}
.input_col_12{width:100%;}
.profile_image{display:flex;align-items:center;}
.profile_camera_image_icon{position:absolute;bottom:0;right:-17px;}
.profile_image_icon{position:relative;margin:0 27px 0 0;}
.profile_text{}
.profile_text a{color:#5EBBB6;font-size:18px;text-decoration:underline;}
.profile_text a:hover{color:#319ed9;}


.header_inr{display:flex;align-items:center;justify-content:space-between;}
header.header{background:#ffffff;padding:15px;}
.wrapper{max-width:1200px;margin:0 auto;}
.header_menu ul{display:flex;align-items:center;}
.header_menu ul li{list-style:none;margin:0 24px;}
.header_menu ul li a{font-size:17px;color:#040406;line-height:22px;}
.header_menu ul li a:hover{color:#339ed9;}
.header_right{display:flex;align-items:center;justify-content:space-between;}
.header_notification a{position:relative;display:inline-block; vertical-align:top;}
.header_notification a small{position:absolute;background:#5EBBB6;width:14px;height:14px;border-radius:100%;color:#FFFFFF;line-height:14px;text-align:center;right:-7px;top:-7px;font-size:10px;}
.header_notification{margin:0 21px 0 0;}
.header_profile_pic{max-width:50px;margin:0 10px 0 0;}
.header_profile{display:flex;align-items:center;justify-content:space-between;}
.header_profile_name p{font-size:13px;line-height:20px;color:#040406;font-weight:700;}
.header_profile_name small{display:inline-block;vertical-align:top;color:#A0A0A0;font-size:12px;font-weight:300;}
.header_profile_link{margin:0 0 0 13px;height:9px;}
.header_profile_link a{display:inline-block;vertical-align:top;line-height:9px;}
.edit_profile {padding: 110px 0 0;} */ */

/* Meeting List */
/* .meeting_list_otr { max-width: 836px; margin: 0 auto; }
.meeting_top_bar { display: flex; align-items: center; justify-content: space-between; }
.right_meeting_box { display: flex; align-items: center; justify-content: flex-end; }
.search_box input { border-radius: 4px; border: solid 1px #eeeeee; background-color: #ffffff; height: 48px; font-size: 14px; font-weight: normal; line-height: normal; letter-spacing: normal; color: #040406; padding: 15px 20px; width: 100%; }
.search_box input::placeholder { color: #a0a0a0; }
.green_btn { font-family: Arial; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; letter-spacing: normal; text-align: center; color: #ffffff; line-height: 46px; border: 1px solid #00c7cc; border-radius: 4px; background-color: #00c7cc; padding: 0 30px; display: inline-block; }
.green_btn:hover { color: #00c7cc; background: transparent; border-color: #00c7cc; }
.green_btn:hover svg path { fill: #00c7cc; }
.green_btn svg { margin-right: 8px; }
.right_meeting_box  .green_btn { margin-left: 15px; }
h2 { font-size: 28px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; color: #040406; }
h5 { font-family: Arial; font-size: 19px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.16px; color: #040406; }
.meeting_section { padding: 40px 0; background-color: #f9f9f9; }
.meeting_top_bar { padding-bottom: 30px; }
.meeting_box_inr { display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; padding: 25px; border-radius: 5px; background-color: #f9f9f9; margin-bottom: 30px; }
.meeting_box_inr h5 { padding-bottom: 13px; }
.meeting_box_inr:last-child { margin-bottom: 0; }
.meeting_box_otr { padding: 30px; background: #fff; border-radius: 10px; box-shadow: 0 0 4px 0 rgb(0 0 0 / 6%); background-color: #ffffff; }
.join_meeting_inr_col { display: flex; align-items: center; }
.join_pofile_img { display: inline-block; vertical-align: middle; margin: 0 2px; }
.time_box { font-family: Arial; font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.43; letter-spacing: normal; color: #a1a1a1; margin-right: 50px; display: flex; align-items: center; }
.time_box svg { margin-right: 8px; }
.meeting_date_col { display: inline-block; width: 32%; }
.slick-slide { outline: none; }
.schedule_meeting  .login_box { margin-top: 40px; }
.back_to_sessioin svg { margin-right: 8px; }
.back_to_sessioin svg path {
    fill: #319ed9;
}
.back_to_sessioin:hover svg path {
    fill: #000;
}
.back_to_sessioin {
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #319ed9;
    display: flex;
    align-items: center;
}
.schedule_meeting  .back_to_sessioin { margin-bottom: 33px; }
.side_btn { display: inline-block; margin-right: 15px; }
.left_side_btn { display: inline-block; margin-left: 15px; }
.gray_btn { background: #a0a0a0; border-color: #a0a0a0; }
.gray_btn:hover { color: #a0a0a0; border-color: #a0a0a0; background: transparent; }
.schedule_meeting_otr { display: flex; margin: 0 -10px; }
.schedule_meeting_col { padding: 0; width: 100%;}
.input_box textarea { line-height: 1; min-height: 223px; }
.input_box span { display: block; font-family: Arial; font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.67; letter-spacing: normal; text-align: right; color: #878787; }
.side_btn_box { display: flex; padding-top: 30px; }
.input_box input:placeholder, .input_box input, .input_box textarea:placeholder, .input_box textarea, .input_box select { color: #878787; }




.schedule_meeting_otr {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}
.sign_up_section .login_otr {
    margin-top: 40px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 4px 0px;
    border-radius: 0.4rem;
}

.schedule_meeting .login_box {
    max-width: 1200px;
}


.schedule_meeting_col .input_box label {
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
}

.schedule_meeting_col .input_box {
    display: flex;
    flex-wrap: wrap;
}
.schedule_meeting_col .input_box input, .schedule_meeting_col .input_box textarea, .schedule_meeting_col .input_box select {
    flex: 1;
}

.schedule_meeting_col .input_box span {
    width: calc(100% - 200px);
    margin: 0 0 0 auto;
    text-align: left;
    font-size: 16px;
    padding: 5px 0;
}

.input_box input:focus, .input_box select:focus, .input_box textarea:focus {
    border-color: #319ed9;
    box-shadow: 0 0 4px #319ed9;
}

.duration_input { display: flex;  align-items: center;}
.duration_input small {
    font-size: 16px;
    color: #000;
    margin-right: 30px;
}

.duration_input input  {
    margin-right: 10px;
    max-width: 50px;
}
.select_box select { width: 100%; } 
.select_box {
    position: relative;
    flex: 1;
}
.select_arrow { position: absolute; right: 10px; top: 50%; transform: translateY(-50%); }

.schedule_meeting {
    padding: 0 30px 30px;
} */




/********** Login Page Css*/

/* 
.login_box_otr { max-width: 480px; margin: 0 auto; }
.memoria_div { padding: 12px 0; display: flex; align-items: center; min-height: 100vh; }
.logo { text-align: center; }
.login_sign_box { border-radius: 10px; box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.03); background-color: #ffffff; padding: 32px 50px 32px; margin: 31px 0 22px; }
.input_box label {
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.09px;
    color: #6b6c6f;
    margin-bottom: 12px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}
.form_box { margin: 0 -15px; }
.input_box { padding: 12px 15px; width: 100%; }
.input_col_2 { width: 50%; }
.input_box input { border-radius: 50px; box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05); border: solid 1px #dfe2e6; background-color: #ffffff; padding: 0 20px; height: 40px; line-height: 48px; margin: 0; }
.Your-e-mail { font-size: 13px; font-weight: bold; color: #dfe2e6; }
.check_box_info { display: flex; align-items: flex-start; flex-wrap: wrap; padding: 0; }
.check_box_info input { width: 15px; height: 15px; line-height: 1; opacity: 0; position: relative; z-index: 1; margin-right: 10px; margin-top: 0; }
.check_box_info label { position: relative; font-size: 15px; display: inline-block; margin-bottom: 0; }
.check_box_info label a { color: #ed5b29; }
.check_box_info label:before { position: absolute; content: ''; width: 15px; height: 15px; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 3px; left: -26px; top: 1px; transition: all 0.2s ease; }
.check_box_info input:checked + label:before { background: #00c7cc; border: 1px solid #00c7cc; }
.check_box_info label:after { position: absolute; content: ''; width: 9px; height: 4px; border: 2px solid #ffffff; left: -19px; top: 8px; border-top: 0; border-right: 0; transform: scale(0) rotate(-300deg); transition: all 0.5s linear 0s; transform-origin: bottom left; }
.check_box_info input:checked + label:after { transform: rotate(-45deg) scale(1); }
.input_box_info { position: relative; }
.input_box_info:after { content: ""; position: absolute; left: 12px; top: 12px; height: 16px; width: 20px; background: url(../images/mail_icon.svg)no-repeat; }
.input_password:after { background: url(../images/password_icon.svg)no-repeat; width: 20px; height: 14px; left: 11px; top: 13px; }
.eye_icon { background: url(../images/password_icon.svg02.svg)no-repeat; width: 18px; height: 12px; content: ""; position: absolute; right: 13px; top: 14px; font-size: 0; cursor: pointer; }
.form_box { margin: 0 -15px; display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-end; }
.btn a, .submit_btn input[type="submit"] { font-size: 14px; font-weight: 600; letter-spacing: 0.11px; text-align: center; color: #fff; border-radius: 20px; box-shadow: 0 10px 20px 0 rgba(0, 199, 204, 0.21); background-color: #00c7cc; border: solid 2px #00c7cc; padding: 0; display: inline-block; height: 40px; line-height: 34px; width: 160px; transition: all ease 0.30s 0s; }
.btn a:hover, .regitser_btn .btn a, .submit_btn input[type="submit"]:hover, .regitser_btn input[type="submit"] { background: #fff; color: #00c7cc; }
.regitser_btn .btn a { box-shadow: unset; }
.regitser_btn .btn a:hover, .regitser_btn input[type="submit"]:hover { box-shadow: 0 10px 20px 0 rgba(0, 199, 204, 0.21); background-color: #00c7cc; color: #fff; }
.regitser_btn { text-align: center; }
.login_btn {
    display: flex;
    align-items: center;
}
.forgot_password a { font-size: 15px; font-weight: 500; color: rgb(107 108 111 / 44%); }
.forgot_password { margin-left: 10px; }
.forgot_password a:hover { color: #00c7cc; }
.login_btn { margin-top: 10px; }
.term_conditions p a { color: #00c7cc; }
.term_conditions p a:hover { color: #000; }
.term_conditions p { text-align: center; max-width: 303px; margin: 0 auto;  }
.logo p { text-transform: uppercase; margin: 20px 0 0 0; font-size: 14px; font-weight: 500; }
.logo a { display: inline-block; margin-left: 15px; } */

/* register */
/* .register_box_otr { max-width: 783px; }
.register_box_otr h3 { margin-bottom: 27px; }
.register_box_otr label { font-family: Gotham; font-size: 14px; font-weight: normal; line-height: 1.43; letter-spacing: normal; color: #040406; }
.register_box_otr input { padding: 0 20px; }
.input_box select { width: 100%; border-radius: 50px; font-family: Gotham; font-size: 14px; font-weight: normal; line-height: normal; letter-spacing: normal; color: #878787; appearance: none; background: url(../images/frm_down_arrow.svg) no-repeat center right 16px; height: 40px; padding: 3px 20px; } */

/*.submit_btn input[type="submit"] {
    border-radius: 0;
    max-width: initial;
    padding: 0 44px;
    width: auto;
    box-shadow: unset;
    border-radius: 5px;
}*/
/* .register_box_otr .term_conditions p.user_click { padding-bottom: 68px; font-family: Gotham; font-size: 16px; font-weight: 500; font-style: normal; line-height: normal; color: #040406; }
.register_box_otr .term_conditions p:last-child { padding-bottom: 0; }
.register_box_otr .submit_btn { margin-right: 15px; }
.submit_btn, .btn { display: inline-block; }
h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.17px;
    color: #1b2733;
    margin-bottom: 11px;
    font-family: 'Montserrat', sans-serif;
} */




/********************* meeting-role **********************/
/* .meeting-role .login_box_otr {
    max-width: 550px;
}
.meeting-role .login_btn {
    padding: 0 15px;
}

.input_box .input_box_info input {
    padding: 0 50px;
} */


/************ Style  ***************/


/********************* 5-15-2021 *********************/

.user_box_list .user_col {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    padding: 0;
}
.user_box_list .meeting_inr_col_text_box {
    min-height: unset;
    border-radius: 5px;
    overflow: hidden;
}
.meeting_inr_col_text_box img img { border-radius: 5px; }
/********************* 5-15-2021 *********************/




.user_box_list {
    display: block;
}

.user_box_list .user_meeting_inr_box_otr {
    display: block;
    max-width: 100% !important;
}


.main_meeting_videos .user_box_list {  display: none; }

.user_box_list .user_meeting_inr_box_otr .user_name {
    display: flex;
}


/************ Media  ***************/

@media screen and (max-width:550px){
.register_box_otr .input_col_2 { width: 100%; }
.register_box_otr h3 { margin-bottom: 15px;}


}

@media screen and (max-width:767px){

    .login_sign_box { margin: 31px 15px 22px; }
    .logo p {margin: 15px 0 0 0;} 
    .register_box_otr .login_sign_box {padding: 25px 30px;}
    .memoria_div {padding:25px 0;}
    .register_box_otr .term_conditions p.user_click { padding-bottom: 28px; }
}

@media screen and (max-width:479px){

.login_sign_box, .register_box_otr .login_sign_box {  padding: 25px 20px 22px; }
.input_col_2 { width: 100%;}
h3 { font-size: 20px;}
.input_box {padding: 8px 15px;width: 100%;}
.login_btn .btn { margin-bottom: 15px; display: inline-block;}
.btn a, .submit_btn input[type="submit"] { height: 38px; line-height: 32px; width: 140px;}
.check_box_info { display: inline-block;width: 160px;}
.login_btn { margin-top: 0; text-align: left;}
.forgot_password { display: inline-block;vertical-align: middle;margin-left: 10px;}
.regitser_btn { margin-top: 15px;}
.register_box_otr h3 { margin-bottom: 12px;}
.submit_btn input[type="submit"] {height: 38px;line-height: 32px;width: auto;padding: 0 30px;}
.register_box_otr .term_conditions p.user_click { padding-bottom: 20px;}
.memoria_div { padding: 15px 0;}
}

/*******************************/

video{
    width: 100%;
}

/*************chat******************/

.circle{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    position: relative;
    bottom: 32px;
    left: 24px;
    opacity: 0;
    pointer-events: none;
    display: block!important;
}

.circle.active{
    opacity: 1!important;

}

video.fullscreen{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    margin: auto;
    height: 80vh;
}

/* Screen Share CSS START */

 .user_share_scren {
    height: 100vh;
    overflow:auto; 
  }
  .user_share_otr {
    display: flex;
    align-items: stretch;
    height: 100%;
  }
  .user_share_left, .user_share_right {
    width: 50%;
    position: relative;
    transition: all ease 0.5s 0s;
  } 
  .user_share_left img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .user_share_right {
    background: #797988;
}

.resize_icon {
    padding: 0;
    cursor: pointer;
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.resize_icon img {
    max-width: 50px;
}

/*.ScreenVideosResize .user_videos_screen_box {
    width: 200px;
    height: 200px;
    margin: 0 20px 20px 0;
}*/
.user_videos_screen_box {
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all ease 0.5s 0s;
    width: 100%;
    height: 100%;
}
.videos_resize_img {
    height: 100%;
}
.videos_resize_img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.user_share_right {
    position: absolute;width: 50%; right: 0;
    bottom: 0;height: 100%;
}
.ScreenVideosResize .user_share_left {
    width: 100%;
}
.ScreenVideosResize .user_share_right {
    width: 200px;
    height: 200px;
    margin: 0 20px 20px 0;
}



/*************************** Document Popup Css***************************/

.modal-dialog {
    width: 100%;
    margin-top: 10%;
}

#UploadBox { margin: 3%;}
.popup_videos_box.upload_doc_box { max-width: 600px; padding: 0; border-radius: 10px;}
.upload_title_box { padding: 15px; border-bottom: 1px solid #000;}
.upload_tabs {
    padding: 10px;
    color: #fff;
    background:#00C7CC;
    margin-right: 10px;
    border-radius: 5px;
    display: inline-block;
    transition: all ease 0.3s 0s;
}
/* .upload_tabs:hover {
    background: #000;
    color: #fff;
} */
.upload_body_content {
    padding: 30px;
}

.upload_tabs.active {
    background: #000;
}

/*************************** Document Popup Css***************************/



.upload_box {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
    border: 3px dashed #00c7cc;
    text-align: center;
    position: relative;
}

.file-type-desc {
    margin: 20px 0 15px;
    font-size: 22px;
    font-weight: 500;
}

.drag_box .browse-button {
    padding: 6px 20px;
    margin-left: 20px;
    background: #319ED9;
    border-radius: 5px;
    color: #fff;
}


label.file {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}




input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: 0;
    border: 1px solid red;
}


.sml {
    display: none;
}

.submit_btn button {
    padding: 0 30px;
    margin-left: 20px;
    background: #319ED9;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 58px;
    margin: 0 0;
}

.submit_btn button img {
    margin-right: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #319ed9;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #00c7cc;
}

.upload_list_box_inr {
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    margin: 5px;
    width: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upload_list_box {
    /* padding: 20px;
    margin: 20px 0; */
    background: #f6f6f6;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}



span.Close_Documents {
    width: 10px;
    height: 10px;
    background: url(../images/close_icon.svg)no-repeat center;
    background-size: 100%;
    cursor: pointer;
}

.upload_video {
    padding: 10px;
    color: #000;
    background:#00C7CC;
    margin-right: 10px;
    border-radius: 5px;
    display: inline-block;
    transition: all ease 0.3s 0s;
}

.upload_title_box2 { padding: 15px; margin: auto;}

/* 

/* Login Css*/
 .login_add_info .login_section { padding: 129px 0 118px; background-color: #f6f7fb; }
.login_add_info .logo { text-align: center; }
.login_add_info .bottom_sub_text { padding-top: 40px; }
.login_add_info .title h2 { font-size: 40px; font-weight: bold; line-height: 1.2; color: #23282C; }
.login_add_info .login_box .title { padding-bottom: 40px; }
.login_add_info label { font-size: 24px; font-weight: 500; line-height: 1.43; letter-spacing: normal; color: #040406; padding: 0 0 15px 0; }
.login_add_info .form_box { margin: 0 -20px; display: flex; justify-content: flex-start; flex-wrap: wrap; }
.login_add_info .input_box { padding: 20px 20px; width: 100%; }
.login_add_info .input_col_2 { width: 50%; }
.login_add_info .input_col_3 { width: 33.33%; }
.login_add_info .input_box input, .input_box select { border: solid 1px #A0A0A0; background-color: #ffffff; height: 70px; font-size: 22px; font-weight: normal; line-height: normal; letter-spacing: normal; color: #A0A0A0; padding: 15px 20px; width: 100%; border-radius: 8px; }
.login_add_info .input_box select { padding-left: 16px; padding-right: 16px; color: #878787; background: url(../images/select_arrow.svg)no-repeat center right 16px; appearance: none; }
.login_add_info .input_box input::placeholder { color: #040406; }
.login_add_info .submit_btn input[type="submit"] { border-radius: 4px; background-color: #319ED9; font-size: 28px; font-weight: 700; font-stretch: normal; font-style: normal; line-height: 68px; text-align: center; color: #ffffff; width: 100%; padding: 0 59px; border: 1px solid #319ED9; transition: all linear 0.3s; height: auto; }
.login_add_info .forget_psw { display: block; max-width: 519px; margin: 0 auto; text-align: center; padding: 30px 0 0; }
.login_add_info .forget_psw a { font-size: 14px; font-weight: normal; line-height: 1.43; letter-spacing: normal; color: #339ed9; margin-bottom: 6px; display: inline-block; }
.login_add_info .submit_btn input[type="submit"]:hover { background: #fff; color: #319ed9; }
.login_add_info .bottom_sub_text { text-align: center; }
.login_add_info .bottom_sub_text p { font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; color: #040406; }
.login_add_info .bottom_sub_text p a { color: #339ed9; }
.login_add_info .bottom_sub_text p a:hover { color: #040406; }
.login_section.login_add_info { padding: 80px; background-color: #f6f7fb; height: 100vh; display: flex; justify-content: flex-end; align-items: center; position: relative; }
.login_add_info .login_bg_img img { width: 100%; height: 100%; object-fit: cover; }
.login_add_info .login_bg_img { position: absolute; z-index: 0; right: 0; left: 0; top: 0; bottom: 0; overflow: hidden; }
.login_add_info .login_otr { position: relative; }
.login_add_info .login_otr { position: relative; max-width: 821px; padding: 70px; border-radius: 0; background-color: #ffffff; box-shadow: 0 0 14px rgb(0 0 0 / 16%); }
.login_section.login_add_info .logo { padding-bottom: 60px; }
.login_add_info .forget_psw p, .login_add_info .forget_psw p a { font-size: 25px; line-height: 1.3; font-weight: 500; color: #23282C; }
.login_add_info .forget_psw p { padding-bottom: 15px; }
.login_add_info .forget_psw a { font-size: 24px; font-weight: 600; color: #319ED9; }
.login_add_info .login_box .title { padding-bottom: 25px; }  

/****************************************** Edit Profile Section *********************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*font-family: 'Roboto', sans-serif;*/
.edit_profile_section .login_box {
    margin: 0;
    padding: 0;
    background: transparent;
}
.title_center { text-align: center;}
.full-wrapper { max-width: 1748px; }
.white_header { background: #fff; }
.white_header .head_otr {padding: 15px 0;}
.white_header .pofile_name h3 { color: #000;}
.white_header .pofile_name h3 span {  color: #666666; }
.login_add_info.edit_profile_section .logo img { max-height: 49px; }
.login_section.login_add_info.edit_profile_section .logo { padding-bottom: 24px;position: relative;}
.edit_profile_section .input_box { padding:15px;  }
.edit_profile_section  .form_box { margin: 0 -15px; }
.login_add_info.edit_profile_section .login_otr { padding-top: 40px; padding-bottom: 40px; max-width: 1071px; margin: auto;}
.login_section.login_add_info.edit_profile_section { justify-content: center; height: calc(100vh - 80px); overflow: auto; padding: 20px;}
.edit_pofile_box { text-align: center;}
.edit_pofile_box_img { max-width: 130px; max-height: 130px; border-radius: 100%; margin: 0 auto 20px; display: block; position: relative;}
.scroll_fix_bg { height:100%; overflow: auto; } 
.login_add_info.edit_profile_section label { color: #3E3E3E; font-size: 18px;}
.small_submit_btn { text-align: center !important;  }
.small_submit_btn input { width: auto !important; font-weight: 500 !important; font-size: 22px !important; line-height: 26px !important; text-align: center !important; padding: 22px 72px !important; display: inline-block !important;}
.login_add_info .input_col_2 { width: 50% !important; }
.white_header .logo { max-height: 58px; }
.List_box li { display: inline-block; margin: 0 30px; }
.List_box li a { font-family: 'Roboto', sans-serif; font-style: normal; font-weight: normal; font-size: 22px; line-height: 26px; color: #000000; }
.head_otr { align-items: center; }
.edit_pofile_box { text-align: center; padding-bottom: 30px;}

.edit_pofile_box h4 {
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.login_section.login_add_info.edit_profile_section .logo { padding-bottom: 15px;}
.edit_profile_box_inr { height: 100% ; display: flex; justify-content: center;overflow: auto;} 

.List_box li a:hover, .List_box li.active a {
    color: #319ed9;
}
/****************************************** Edit Profile Section *********************************/
.submit_btn { text-align: center; }
.cancel_btn, .save_btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  min-width: 180px;
  margin: 0 10px;
  display: inline-block;
  padding: 22px 30px;
  border-radius: 10px;
  transition: all ease 0.4s 0s; 
}

.login_add_info .input_box textarea { border: solid 1px #A0A0A0; background-color: #ffffff; height: 70px; font-size: 22px; font-weight: normal; line-height: normal; letter-spacing: normal; color: #A0A0A0; padding: 15px 20px; width: 100%; border-radius: 8px; height:180px; border-radius: 10px;}
.login_add_info .input_box textarea::placeholder { color: #040406; }

.cancel_btn, .save_btn:hover { background: #DCDCDC; color: #3E3E3E;}
.save_btn, .cancel_btn:hover {background: #319ED9; color: #fff;}

 /*{ background: #00C7CC; color: #fff;}*/

.edit_pofile_box_img {
    position: relative;
}

.edit_pofile_box_img > img {
    width: 130px !important;
    height: 130px !important;
    border-radius: 100%;
    object-fit: cover;
}

.edit_pofile_box_img {}

.edit_pofile_box_img {
    max-width: 130px;
    max-height: 130px;
    border-radius: 100%;
    overflow: unset;
    margin: 0 auto 20px;
    display: block;
    position: relative;
}

input[type="file"] {}

.edit_pofile_box_img input[type="file"] {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 100% !important;
    width: 100% !important;
    height: 100% !important;
}

.profile_camera_image_icon {
    position: absolute;
    bottom: 0;
    top: unset;
    left: unset;
    right: 6px;
}


/***************************************** Media Css *****************************************/
@media screen and (max-height: 1100px){
  .login_add_info .input_box textarea { height: 100px; }
}
@media screen and (max-height: 1000px){
  .login_add_info.login_otr { padding: 60px; }
  .login_section.login_add_info .logo { padding-bottom: 50px;}
  .login_add_info .input_box input, .login_add_info .input_box select { height: 60px;}
  .login_add_info .forget_psw p { padding-bottom: 10px;}
  .login_add_info .submit_btn input[type="submit"] { font-size: 24px;line-height: 58px;}
  .login_add_info label { padding-bottom: 10px; }
  .edit_pofile_box { padding-bottom: 20px; }

.cancel_btn, .save_btn { font-size: 20px; line-height: 26px;  padding: 16px 30px; border-radius: 10px; }
.login_add_info .input_box textarea { height: 80px;}


}

@media screen and (max-height: 900px){
  .login_section.login_add_info .logo img {max-height: 45px;}
  .login_add_info .login_otr { padding: 50px;} 
  .login_section.login_add_info .logo { padding-bottom: 40px;}
  .login_add_info .login_box .title { padding-bottom: 15px;}
  .login_add_info label { font-size: 22px;padding: 0 0 10px 0;}
  .login_add_info .input_box { padding: 15px; width: 100%;}
  .login_add_info .form_box { margin: 0 -15px; }
  .login_add_info .forget_psw p, .login_add_info .forget_psw p a, .login_add_info .forget_psw a { font-size: 22px;}
  .login_add_info .forget_psw { padding-top: 25px; }
  .login_add_info .login_otr { max-width: 700px; }

  .small_submit_btn input { font-size: 20px !important;padding: 15px 50px !important;}

  .login_add_info.edit_profile_section .login_otr { padding-top: 20px; padding-bottom: 20px;}
  .login_add_info .title h2 { font-size: 35px; }
  .edit_profile_section .input_box input, .edit_profile_section .input_box select { height: 52px;}
  .small_submit_btn input { font-size: 18px !important; padding: 11px 40px !important;}
  .login_add_info .input_box textarea { height: 60px;}
}

@media screen and (max-height: 800px){
  .login_add_info .login_otr { padding: 40px;}
  .login_section.login_add_info .logo { padding-bottom: 30px;}
  .login_section.login_add_info .logo img { max-height: 40px;}
  .login_add_info .input_box input, .login_add_info .input_box select { height: 50px; padding: 10px; font-size: 20px;}
  .login_add_info label { font-size: 20px; padding: 0 0 10px 0;}
  .login_add_info .forget_psw p, .login_add_info .forget_psw p a, .login_add_info .forget_psw a { font-size: 20px;}
  .login_add_info .forget_psw p { padding-bottom: 5px;}
  .login_add_info .submit_btn input[type="submit"] { font-size: 20px; line-height: 48px;}
  .login_add_info .title h2 { font-size: 31px;}
  .schedule_a_session .input_box input, .schedule_a_session .input_box select { height: 45px; }
  .login_add_info.edit_profile_section label { font-size: 16px; padding-bottom: 6px; }
  .cancel_btn, .save_btn { font-size: 18px; line-height: 26px; padding: 13px 30px; border-radius: 10px;}
  .edit_profile_box_inr { align-items: flex-start; }
  .login_add_info .input_box { padding: 10px; }
  .login_add_info .form_box { margin: 0 -10px; }
  .login_add_info .input_box input, .login_add_info .input_box select { height: 45px; }
  .schedule_a_session .login_box .title { padding-bottom: 10px;}
  
}

@media screen and (max-height: 700px){
  .login_add_info .login_otr { padding: 40px 40px 20px;}
  .login_section.login_add_info .logo { padding-bottom: 20px;}
  .login_add_info .title h2 { font-size: 32px; }
  .login_add_info label { font-size: 18px; padding: 0 0 5px 0;}
  .login_add_info .forget_psw { padding-top: 20px;}
  .login_section.login_add_info { padding: 30px; }
  .login_section.login_add_info.edit_profile_section .logo { padding-bottom: 10px;}
  .login_section.login_add_info.edit_profile_section .login_box .title { padding-bottom: 5px;}
  .login_add_info .title h2 { font-size: 27px;}
  .edit_pofile_box_img { margin: 0 auto 15px;}
  .edit_pofile_box { padding-bottom: 10px;}
  .edit_pofile_box_img > img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 100%;
    object-fit: cover;
	}

	.edit_pofile_box_img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto 15px;
	}
	.profile_camera_image_icon {
		right: 0;
	}

  .login_add_info .input_box { padding: 8px;}
  .login_add_info .form_box { margin: 0 -8px; }
  .login_add_info.edit_profile_section .login_otr { padding-top: 10px; padding-bottom: 10px;}
  .small_submit_btn input { font-size: 17px !important; padding: 9px 32px !important;}
  .login_section.login_add_info.edit_profile_section { height: calc(100vh - 95px);padding: 10px;}
  
}

@media screen and (max-height: 600px){
  .login_add_info .login_otr { padding: 30px 30px 10px;}
  .login_section.login_add_info .logo { padding-bottom: 15px;}
  .login_section.login_add_info .logo img { max-height: 35px;}
  .login_add_info .title h2 { font-size: 28px;}
  .login_add_info .form_box { margin: 0 -10px; }
  .login_add_info label { font-size: 18px; }
  .login_section.login_add_info { padding: 30px;  }
  .login_add_info .login_otr { max-width: 600px; }
  .login_add_info .input_box input, .login_add_info .input_box select { height: 45px; font-size: 18px; } 
  .login_add_info .input_box { padding: 10px; width: 100%;}
  .login_add_info .forget_psw {padding-top: 15px;}
  .login_add_info .forget_psw p, .login_add_info .forget_psw p a, .login_add_info .forget_psw a { font-size: 18px;}
}

@media screen and (max-height: 500px){

}


@media screen and (max-height: 1024px){
  .wrapper { padding: 0 30px; }
}

@media screen and (max-height: 767px){
  .wrapper { padding: 0 20px; }
}
@media screen and (max-height: 479px){
 
}

/***************************************** Media Css *****************************************/
body {
	font-family: 'Arial';
	font-size: 13px;
	color: #333;
	margin: 0;
    overflow-x: hidden;
    background-color: #f6f7fb;
}

.user_meeting_inr_box_otr .user_name {
    margin: 0;
    left: 3px;
    bottom: 3px;
    right: 3px;
    width: auto;
    display: block;
}


.user_col {
     position: relative;
}

.user_name span {
    color: #fff;
    flex: 1;
    margin-right: 5px;
}

.main_meeting_videos .local-video {
    width: 100%;
    height: 100%;
    object-fit: fill!important;
}


/***************************************** meeting *****************************************/
.metting_name_content { max-width: unset; }
.chat-box-sec form { 
    /* overflow: auto !important; */
    overflow-x: hidden!important;
 }
.upload_box { margin: 0 auto 30px;}
@media screen and (max-width:1024px){

    .meeting_videos_bg { height: calc(100vh - 125px); }
    .mn_inr_header_right ul li { margin: 0 10px; }
    .call_inr_otr .call_inr_top ul li { margin: 0 10px 0 0; }
    .call_inr_otr .mn_inr_header_right.call_inr>ul>li { width: 45px; height: 45px; }
    #container { width: 100% !important; }
    #imageTemp { width: 100% !important; height: 100% !important; }
    .container label { position: relative !important; }
    .container .btn.btn-sm { margin: 0 10px 10px 0; }
    .container label { margin: -6px 0 0; }
    .container input#colour-picker { top: 5px; position: relative; }
    .chat-message-input { width:270px; right: -300px;}
    .chat-message-input input { margin-left: 0;}

}

@media screen and (max-width:767px){
    .mn_inr_header .mn_inr_header_right:after, .call_inr_top:after { content: "..."; font-size: 45px; color: #ffff; line-height: 0; position: absolute; left: 7px; top: 2px; }
    .mn_inr_header .mn_inr_header_right ul, .call_inr_top ul { position: absolute; display: none; position: absolute; display: block; bottom: 40px; padding: 10px; background: #141519; flex: unset; left: -20px; transform: scaleY(0); transform-origin: bottom; transition: all ease 0.4s 0s; }
    .OpenMobileDropDown ul, .mn_inr_header .OpenMobileDropDown ul { transform: scaleY(1); }
    .OpenMobileDropDown ul li { margin: 10px !important; }
    .mn_inr_header .mn_inr_header_right, .call_inr_top { width: 40px; border-radius: 5px; height: 30px; position: relative; padding: 0; }
    .OpenMobileDropDown { background: #333333; }
    .mn_inr_header_right.call_inr_center { display: flex; justify-content: flex-end; flex: 1; margin-right: 10px; }
    .mn_inr_header_right ul li { margin: 0 8px; }
    .mn_inr_header .mn_inr_header_right ul { bottom: unset; top: 45px; transform-origin: top; }
    .container input#colour-picker { top: 2px; position: relative; }
    .container label { margin: 0; }
    .container input#colour-picker { top: 2px; position: relative; margin-right: 15px; }
    span.form-group { margin-right: 15px; }
    .modal-dialog { margin: auto; padding: 20px; }
    .participant-list { padding: 20px; margin: 0 15px; }
    .participant-list .participant { padding: 10px; margin: 15px 0; }
    .participant div { font-size: 16px; }
    .participant .btn_participant { padding: 8px 20px; font-size: 15px; }
    .modal-dialog { padding: 20px !important; }
    .upload_body_content { padding: 10px; }
    .message-box-wrapper .col-sm-4:nth-child(2) { left: -20px; flex: 1; position: relative;}
    .message-box-wrapper .col-sm-4 { width: auto;}
}

@media screen and (max-width:479px){
    .container .btn.btn-sm { margin-right: 15px; }
    span.form-group { margin-right: 10px; margin-bottom: 10px; }
    .modal-dialog { width: 100%; margin: auto; padding: 20px; }
    .call_inr_otr .mn_inr_header_right>ul>li { border: 0; width: 45px; height: 45px; margin: 0 5px; }
    .participant div { font-size: 16px; font-weight: 500; margin-bottom: 15px; }
    .participant-list .participant { display: block; text-align: center; }
    .submit_btn input[type="submit"], .blue_btn, .gray_btn { border-radius: 4px; font-size: 14px; line-height: 35px; padding: 0 30px; transition: all linear 0.3s; }
    .modal-dialog { padding: 15px !important; }
    .upload_box { margin: 0 auto 15px; }
    .upload_body_content { padding: 0; }
    .file-type-desc { font-size: 18px; }
}


.testClass {
    object-fit: fill !important;
}

.muteAll {
    display: none;
}

/*******************************1-7******************************/

audio.student_audio_status1 {
    border-radius: 2px;
}
