* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box
}

body {
  font-family: 'Arial';
  font-size: 13px;
  color: #333;
  margin: 0;
  overflow-x: hidden;
  background-color: #f6f7fb;
}

p, h1, h2, h3, h4, h5, h6, ul, li, a {
  margin: 0;
  padding: 0;
  line-height: 1
}

a {
  text-decoration: none;
  outline: none;
  color: #f58020
}

a:hover {
  color: #333;
  text-decoration: none
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  border: none
}

iframe {
  max-width: 100%;
  border: none;
  width: 100%;
  height: 100%;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus, select:-webkit-autofill:active {
  background: none;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
  outline: none;
}

input:hover, input:focus, input:active, textarea:hover, textarea:focus, textarea:active, select:hover, select:focus, select:active {
  background: none;
  /*-webkit-box-shadow: 0 0 0px 1000px #ffffff inset;*/
  transition: background-color 5000s ease-in-out 0s;
  outline: none;
}

button, a, a path, button path {
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

a:hover {
  text-decoration: none;
}

/*button , a {
    cursor: pointer;
}*/

.m0 {
  margin: 0 !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mb-40 {
  margin-bottom: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.p0 {
  padding: 0 !important;
}

.p10 {
  padding: 10px !important;
}

.p20 {
  padding: 20px !important;
}

.p30 {
  padding: 30px !important;
}

.p40 {
  padding: 40px !important;
}

.p50 {
  padding: 50px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

/* Login Css*/

.login_section {
  padding: 129px 0 118px;
}

.login_otr {
  max-width: 408px;
  margin: 0 auto;
}

.login_otr {
  max-width: 408px;
  margin: 0 auto;
}

.logo {
  text-align: center;
}

.login_box {
  margin: 30px 0 0;
  padding: 40px 44px 40px 43px;
  border-radius: 10px;
  background-color: #ffffff;
}

.bottom_sub_text {
  padding-top: 40px;
}

.title h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #040406;
}

.login_box .title {
  padding-bottom: 30px;
}

label {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #040406;
}

.form_box {
  margin: 0 -12px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.input_box {
  padding: 10px 12px;
  width: 100%;
}

.input_col_2 {
  width: 50%;
}

.input_col_3 {
  width: 33.33%;
}

.input_box input, .input_box select {
  border-radius: 4px;
  border: solid 1px #eeeeee;
  background-color: #ffffff;
  height: 48px;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #040406;
  padding: 15px 20px;
  width: 100%;
}

.input_box select {
  padding-left: 16px;
  padding-right: 16px;
  color: #878787;
  background: url(../images/select_arrow.svg)no-repeat center right 16px;
  appearance: none;
}

.input_box input::placeholder {
  color: #040406;
}

.input_box label {
  padding-bottom: 7px;
}

.submit_btn input[type="submit"] {
  border-radius: 4px;
  background-color: #319ed9;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 46px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #ffffff;
  width: auto;
  padding: 0 59px;
  border: 1px solid #319ed9;
  transition: all linear 0.3s;
}

.forget_psw {
  display: block;
}

.forget_psw a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #339ed9;
  margin-bottom: 6px;
  display: inline-block;
}

.submit_btn input[type="submit"]:hover {
  background: #fff;
  color: #319ed9;
}

.bottom_sub_text {
  text-align: center;
}

.bottom_sub_text p {
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #040406;
}

.bottom_sub_text p a {
  color: #339ed9;
}

.bottom_sub_text p a:hover {
  color: #040406;
}

.sign_up_section .login_otr {
  max-width: 750px;
}

.disabled_input_box {
  opacity: 0.49;
}

.disabled_input_box input {
  pointer-events: none;
}

.input_col_12 {
  width: 100%;
}

.input_col_12 {
  width: 100%;
}

.profile_image {
  display: flex;
  align-items: center;
}

.profile_camera_image_icon {
  position: absolute;
  bottom: 0;
  right: -17px;
}

.profile_image_icon {
  position: relative;
  margin: 0 27px 0 0;
}

.profile_text {}

.profile_text a {
  color: #5EBBB6;
  font-size: 18px;
  text-decoration: underline;
}

.profile_text a:hover {
  color: #319ed9;
}

.header_inr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.header {
  background: #ffffff;
  padding: 15px 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header_menu ul {
  display: flex;
  align-items: center;
}

.header_menu ul li {
  list-style: none;
  margin: 0 24px;
}

.header_menu ul li a {
  font-size: 17px;
  color: #040406;
  line-height: 22px;
}

.header_menu ul li a:hover {
  color: #339ed9;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_notification a {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.header_notification a small {
  position: absolute;
  background: #5EBBB6;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  color: #FFFFFF;
  line-height: 14px;
  text-align: center;
  right: -7px;
  top: -7px;
  font-size: 10px;
}

.header_notification {
  margin: 0 21px 0 0;
}

.header_profile_pic {
  max-width: 50px;
  margin: 0 10px 0 0;
}

.header_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_profile_name p {
  font-size: 13px;
  line-height: 20px;
  color: #040406;
  font-weight: 700;
}

.header_profile_name small {
  display: inline-block;
  vertical-align: top;
  color: #A0A0A0;
  font-size: 12px;
  font-weight: 300;
}

.header_profile_link {
  margin: 0 0 0 13px;
  height: 9px;
}

.header_profile_link a {
  display: inline-block;
  vertical-align: top;
  line-height: 9px;
}

.edit_profile {
  padding: 110px 0 0;
}